[q<>,F;,F[Pp{p[DA]}]
  [
    "he",
    "chamber",
    396126466.68963575,
    true,
    "though",
    {
      "helpful": "detail",
      "run": "slide",
      "square": true,
      "degree": false,
      "till": false,
      "limited": false
    }
  ],
  true,
  -1333305815,
  false,
  true,
  true
]qfq